.new-user-container {
    width: 75%;
    height: 103vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-user-container .content {
    width: 90%;
    height: 612px;
    padding: 80px;
    background: #F0F0F5;
    box-shadow: 0 0 5px rgba(7, 7, 7, 0.40);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.new-user-container .content section {
    width: 100%;
    max-width: 380px;
}

.new-user-container section.form{
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.new-user-container section.form img {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.new-user-container .content section h1{
    margin: 64px 0 32px;
    font-size: 32px;
}

.new-user-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.new-user-container .content form {
    width: 50%;
    max-width: 450px;
}

.new-user-container .content form label {
    font-weight: bold;
    color: #333333;
    font-size: 13px;
}

.new-user-container .content form input {
    margin-top: 4px;
    margin-bottom: 8px;
    height: 45px;
}

.new-user-container .content .back-link{
    background: transparent;
    border-radius: 8px;
    color: #251FC5;
    font-weight: 700;
    margin-top: 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 60px;
    transition: filter 0.2s;
}

.new-user-container .content .back-link .container-button{
    display: inline-flex;
}

.new-user-container .content .back-link .iconArrowLeft{
    margin-top: 3px;
    margin-right: 10px;
}


