.login{
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container{
    width: 800px;
    background: #F0F0F5;
    height: 700px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container section.form{
    max-width: 350px;
}

.login-container section.form .logo{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.login-container section.form form h1{
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
    color: aqua;
}
